* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: system-ui, sans-serif;
}

.board {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 60px;
}
.box{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}
.boardRow {
    display: flex;
}
#keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.keyboardRow {
    display: flex;
}
.keyboard.button {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 1px;
}
.word-green {
    background-color: #52BE80;
    color: white;
}

.word-yellow {
    background-color: #d3de09;
    color: black;
}

.word-gray {
    background-color: #888888;
    color: white;
}

