* {
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    display: block;
    align-items: center;
    justify-content: center;
    font-family: system-ui, sans-serif;
}

.board {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.box{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boardRow {
    display: flex;
}
#keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.keyboardRow {
    display: flex;
}
.keyboard.button {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}